.login-comp {
    background-color: azure;
    padding-top: 100px;
}

.fb-logo {
    color: rgb(30, 30, 240);
    font-size: 50px;
    padding-top: 30px;
}

.fb-desc {
    font-size: 30px;
}

.login-box {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 30px 50px 10px 15px;
}

input {
    width: 100%;
    margin: 10px 0px;
}

.login-btn {
    width: 100%;
    margin-top: 15px;
}

.signup-btn {
    text-align: center;
    margin-top: 15px;
}